# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
# Zazwyczaj śledzone dla "zero-installs" w Yarn Berry
!.yarn/cache 
!.yarn/patches
!.yarn/plugins
!.yarn/releases
# Generowane SDK dla środowisk IDE (np. TypeScript)
!.yarn/sdks 
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
# Dodano, jeśli używasz również folderu 'dist' do kompilacji
/dist 

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE (opcjonalnie - usuń komentarze, jeśli chcesz ignorować)
# .vscode/ # Folder z ustawieniami VS Code. Używaj ostrożnie, jeśli zespół dzieli konfigurację.
# .idea/ # Folder z ustawieniami WebStorm/IntelliJ