@import "tailwindcss";

@theme {
  /* Kolory z Brandbooka */
  --color-raisinBlack: #262626; /* Główne tło */
  --color-philippineSilver: #b2b2b2; /* Tekst poboczny */
  --color-arylideYellow: #efcb6f; /* Akcent / CTA */
  --color-oxfordBlue: #001c48; /* Ciemny akcent */
  --color-white: #ffffff;

  /* Fonty */
  --font-montserrat: var(--font-montserrat);
  --font-youngest: var(--font-youngest);

  /* Animacje */
  --ease-wabi: cubic-bezier(0.25, 1, 0.5, 1); /* Płynne, naturalne wyhamowanie */
}

@layer base {
  body {
    @apply bg-raisinBlack text-white font-montserrat antialiased selection:bg-arylideYellow selection:text-raisinBlack;
  }
}
